* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --cor-primary: #ff8661;
  --cor-secondary: #ff86615e;
  --cor-three: #e0b680;
}

html {
  font-size: 62.5%;
}

html,
body,
main {
  width: 100%;
  background-color: #eee;
}

nav {
  background-color: rgba(238, 238, 238, 0.089);

  width: 100%;
  max-width: 980px;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: auto;
}

nav a {
  margin: auto;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  background-color: rgba(221, 221, 221, 0.452);
  padding: 8px;
  border-radius: 24px;
  opacity: 0.8;
}

nav a:hover {
  opacity: 1;
  color: #333;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

section#img {
  background-image: url(./img/alimentacao.jpg);
  background-position: center center;

  background-size: cover;
  background-attachment: fixed;

  width: 100%;
}

.info_energetic {
  min-height: 400px;
  width: 720px;
  max-width: 980px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.info_energetic p {
  font-size: 13px;
}

.container-form {
  margin-top: -100px;
  min-height: 600px;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 20px;
}

.container-form h1 {
  text-align: center;
  padding-top: 20px;
  color: var(--cor-primary);
}

.form-group {
  padding: 14px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.4rem;
}

.form-group input,
select {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #eee;
  outline: none;
}

.instructions {
  background-color: #fff;
  width: 100%;
  max-width: 980px;
  width: 255px;
  font-size: 1.4rem;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  text-indent: 30px;
}

ul {
  list-style-position: inside;
  margin: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: var(--cor-secondary);
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 450ms;
  margin-bottom: -20px;
}

.form-group button:hover {
  background-color: var(--cor-primary);
}

.result-container {
  background-color: rgba(221, 221, 221, 0.541);
  margin: 15px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.result-container ul li {
  list-style-type: none;
}

.result-container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-protein,
.main-carboidratos,
.main-gordura,
.main-atividade {
  background-color: #eee;
  display: flex;
}

.protein {
  max-width: 650px;
  min-height: 850px;

  font-size: 1.5rem;

  margin: 20px 100px 0 100px;
  padding: 20px;
  border: 1px solid var(--cor-secondary);
  border-radius: 10px;

  background-color: var(--cor-secondary);
}

img {
  width: 100%;
  margin-top: 100px;
  border-radius: 10px;

  border: 1px solid #eee;
}

[data-anime] {
  opacity: 0;
  transition: 2s;
}

[data-anime="left"] {
  transform: translate3d(-50%, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.carboidratos {
  max-width: 500px;
  min-height: 850px;

  font-size: 1.5rem;

  margin: 20px 20px 0 40px;
  padding: 20px;
  border: 1px solid var(--cor-secondary);
  border-radius: 10px;

  background-color: var(--cor-three);
}

.gorduras {
  max-width: 470px;
  min-height: 850px;

  font-size: 1.5rem;
  border: 1px solid var(--cor-secondary);
  border-radius: 10px;

  background-color: #f7c32585;
}

.activity {
  max-width: 500px;
  min-height: 750px;

  font-size: 1.5rem;

  margin: 20px 20px 0 40px;
  padding: 20px;
  border: 1px solid var(--cor-secondary);
  border-radius: 10px;

  background-color: rgba(121, 119, 119, 0.432);
}

.btnTop {
  position: fixed;
  bottom: 50px;
  right: -100px;
  width: 50px;
  height: 50px;
  background-color: rgb(190, 190, 190);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  opacity: 1;
  visibility: hidden;
  transition: all 0.6s ease;
}

.btnTop.active {
  right: 50px;
  opacity: 1;
  visibility: visible;
}

.footer {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--cor-primary);
  color: #eee;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 912px) {
  .hero {
    max-width: 900px;
    display: flex;
  }

  .main-protein,
  .main-carboidratos,
  .main-gordura,
  .main-atividade {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
  }

  section#img {
    background-image: none;
  }
  .container-form {
    width: 300px;
  }
}

@media screen and (max-width: 735px) {
  .instructions {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  nav a {
    font-size: 1rem;
  }

  .protein {
  }

  .info_energetic {
    width: 300px;
  }

  .hero {
    display: inline-block;
  }

  .container-form {
    margin-top: 25px;
  }

  .protein {
    margin-top: 120px;
  }
}

@media screen and (max-width: 410px) {
  .protein {
    margin: 0px;
    margin-top: 100px;
  }
}
